In [2]:
import pandas as pd
from sqlalchemy import create_engine
from user import username, password

Import CSV Data

In [3]:
data = pd.read_csv('Resources/athlete_events.csv')

data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

Drop Height and Weight columns

In [4]:
olympic_data = data[['ID', 'Name', 'Sex', 'Age', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']].copy()
# olympic_data.set_index('ID')
olympic_data.rename(columns= {'ID' : 'id', 'Name' : 'name', 'Sex' : 'sex', 'Age' : 'age', 'NOC' : 'noc', 'Games' : 'games', 'Year' : 'year', 'Season' : 'season', 'City' : 'city', 'Sport' : 'sport', 'Event' : 'event', 'Medal' : 'medal'},inplace = True)

olympic_data

,id,name,sex,age,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
protocol = 'postgresql'
username = username
password = password
host = 'localhost'
port = 5432
database_name = 'olympic_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [6]:
olympic_data.to_sql(name='olympic_data', con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql_query('select * from olympic_data', con=engine).head()

,id,name,sex,age,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,2,A Lamusi,M,23.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,3,Gunnar Nielsen Aaby,M,24.0,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,4,Edgar Lindenau Aabye,M,34.0,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None

In [25]:
olympic_data = olympic_data[olympic_data.season=="Winter"]
olympic_data

,id,name,sex,age,noc,games,year,season,city,sport,event,medal
4,5,Christine Jacoba Aaftink,F,21.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [41]:
unique_data = pd.DataFrame(olympic_data.groupby(["year", "noc", "event", "medal", "season"])["medal"].count())

unique_data.columns=["count"]
unique_data = unique_data.reset_index()
unique_data
# unique_data = pd.pivot_table(unique_data, "count",["year","noc", "event", "season"],"medal").fillna(0)
# unique_data = unique_data.reset_index()
# unique_data.tail(30)

      year  noc                            event   medal  season  count
0     1924  AUS          Alpinism Mixed Alpinism    Gold  Winter      1
1     1924  AUT     Figure Skating Men's Singles  Silver  Winter      1
2     1924  AUT       Figure Skating Mixed Pairs    Gold  Winter      2
3     1924  AUT   Figure Skating Women's Singles    Gold  Winter      1
4     1924  BEL        Bobsleigh Men's Four/Five  Bronze  Winter      5
...    ...  ...                              ...     ...     ...    ...
2848  2014  USA  Snowboarding Men's Boardercross  Bronze  Winter      1
2849  2014  USA    Snowboarding Men's Slopestyle    Gold  Winter      1
2850  2014  USA    Snowboarding Women's Halfpipe  Bronze  Winter      1
2851  2014  USA    Snowboarding Women's Halfpipe    Gold  Winter      1
2852  2014  USA  Snowboarding Women's Slopestyle    Gold  Winter      1

[2853 rows x 6 columns]

In [40]:
# NOC = unique_data["noc"].unique()
# NOC

# Medal_dict = {}

# for NOC in NOC:
#     for row in unique_data:
#         Bronze_Count = 0
#         Silver_Count = 0
#         Gold_Count = 0
#         if unique_data["noc"] == NOC:

#             if unique_data["Bronze"] > 0:
#                 Bronze_Count = Bronze_Count + 1
#             if unique_data["Silver"] > 0:
#                 Silver_Count = Silver_Count + 1
#             if unique_data["Gold"] > 0:
#                 Gold_Count = Gold_Count + 1
#     Medal_dict[NOC] = [Bronze_Count,Silver_Count,Gold_Count]

# Medal_dict
from dataclasses import replace


New_data = unique_data.copy()


New_data['Bronze'].values[New_data['Bronze'] > 1] = 1
New_data['Silver'].values[New_data['Silver'] > 1] = 1
New_data['Gold'].values[New_data['Gold'] > 1] = 1

grouped_data = New_data.groupby('noc').sum()
grouped_data = grouped_data.reset_index()[['noc', 'Gold', 'Silver', 'Bronze']]
grouped_data
# Bronze_list = New_data['Bronze'].to_list()

# Bronze_list

medal  noc   Gold  Silver  Bronze
0      AUS    6.0     3.0     4.0
1      AUT   59.0    78.0    81.0
2      BEL    1.0     1.0     3.0
3      BLR    6.0     4.0     5.0
4      BUL    1.0     2.0     3.0
5      CAN   62.0    56.0    52.0
6      CHN   12.0    22.0    19.0
7      CRO    4.0     6.0     1.0
8      CZE    7.0     9.0     8.0
9      DEN    0.0     1.0     0.0
10     ESP    1.0     0.0     1.0
11     EST    4.0     2.0     1.0
12     EUN    9.0     6.0     8.0
13     FIN   42.0    62.0    57.0
14     FRA   31.0    31.0    47.0
15     FRG   11.0    15.0    13.0
16     GBR   11.0     4.0    12.0
17     GDR   39.0    36.0    35.0
18     GER   86.0    84.0    58.0
19     HUN    0.0     2.0     4.0
20     IND    1.0     0.0     0.0
21     ITA   37.0    34.0    43.0
22     JPN   10.0    17.0    18.0
23     KAZ    1.0     3.0     3.0
24     KOR   26.0    17.0    10.0
25     LAT    0.0     4.0     3.0
26     LIE    2.0     2.0     5.0
27     LUX    0.0     2.0     0.0
28     NED   37.0    38.0    35.0
29     NEP    1.0     0.0     0.0
30     NOR  111.0   108.0   100.0
31     NZL    0.0     1.0     0.0
32     POL    6.0     7.0     7.0
33     PRK    0.0     1.0     1.0
34     ROU    0.0     0.0     1.0
35     RUS   49.0    40.0    35.0
36     SLO    2.0     4.0     9.0
37     SUI   50.0    40.0    47.0
38     SVK    2.0     2.0     1.0
39     SWE   50.0    40.0    54.0
40     TCH    2.0     8.0    15.0
41     UKR    2.0     1.0     4.0
42     URS   77.0    56.0    59.0
43     USA   96.0    99.0    84.0
44     UZB    1.0     0.0     0.0
45     YUG    0.0     3.0     1.0